$primaryBgDarkColor: #161616;
$secondaryBgDarkColor: #242424;
$primaryBgLightColor: #ffffff;
$secondaryBgLightColor: #e5e5e5;
$medGray: #474747;
$lightGray: #787878;
$lightBlue: #63acf0;
$darkBlue: #1c72c2;
$gold: #ffc107;

.gold {
  color: $gold;
}

.dark-blue {
  color: $darkBlue;
}

.dark-gray {
  color: $medGray;
}

.white {
  color: white;
}

.border-white {
  border: 1px solid white;
}

.bg-primary-dark {
  background-color: $primaryBgDarkColor;
}

.bg-secondary-dark {
  background-color: $secondaryBgDarkColor;
}

.bg-primary-light {
  background-color: $primaryBgLightColor;
}

.bg-secondary-light {
  background-color: $secondaryBgLightColor;
}
