$darkBgColor: #161616;
$lightBgColor: #242424;
$medGray: #474747;
$lightGray: #787878;
$lightBlue: #63acf0;
$darkBlue: #1c72c2;
$gold: #e3e556;

.gold {
  color: $gold;
}

.border-white {
  border: 1px solid white;
}
